# Compiled Object files
*.slo
*.lo
*.o
*.so
*.jpg

# Compiled Dynamic libraries
#*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tags
*.swp
GP_MAIN
libGP.so
output/*
temp/*
output_fix.jpg
result.xml
