# Compiled Object files
*.slo
*.lo
*.o
*.so
*.jpg
*.out
*.pyc

# Compiled Dynamic libraries
#*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tags
*.swp
libGP.so
output/*
temp/*
output_fix.jpg
result.xml
